<!DOCTYPE html>
<html lang="en-us">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ .Title }} - Rohans Website</title>
	<link rel="stylesheet" href="/static/style.css">
	<!--Additional elements for browsers and robots go here goes here-->

</head>

<body>
	<div class="container">
		<h1> This is the book edit page. If you are lost click the right link: <a href="/">website</a></h1>

		<p>
			<fieldset>
				<legend>Edit a Book</legend>
				<form action="/book/update/" method="POST">
					<input type="hidden" name="id" value="{{ .Book.Id }}">
					<p>
						<label for="">ISBN</label>
						<input type="text" name="isbn" value="{{ .Book.Isbn }}" required>
					</p>
					<p>
						<label for="">Book Name</label>
						<input type="text" name="title" value="{{ .Book.Title }}" required>
					</p>
					<p>
						<label for="">Price</label>
						<input type="text" name="price" value="{{ .Book.Price }}" required>
					</p>

					<p>
						<label for="">Author</label>
						<input type="text" name="author" value="{{ .Book.Author }}" required>
					</p>
					<p>
						<input type="submit" name="submit_book">
					</p>
				</form>
			</fieldset>
		</p>		

	</div>
</body>

</html>