<!DOCTYPE html>
<html lang="en-us">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ .Title }} - Rohans Website</title>
	<link rel="stylesheet" href="./static/style.css">
	<!--Additional elements for browsers and robots go here goes here-->

</head>

<body>
	<div class="container">
		<h1>This is the home page for Rohan's <a href="./">website</a></h1>

		<p>
			<table class="table-class">
				<tr>
					<th>ID</th>
					<th>ISBN</th>
					<th>Title</th>
					<th>Author</th>
					<th>Price</th>
					<th>Action</th>
				</tr>
				{{range $book := .Books }}
				<tr>
					<td>{{ $book.Id }}</td>
					<td>{{ $book.Isbn }}</td>
					<td>{{ $book.Title }}</td>
					<td>{{ $book.Author }}</td>
					<td>{{ $book.Price }}</td>
					<td>
						<a href="./book/edit/{{ $book.Id }}">Edit</a> / 
						<a href="./book/delete/{{ $book.Id }}">Delete</a>
					</td>
				</tr>
				{{end}}
			</table>
		</p>

		<p>
			<img src="./static/images/hello.jpeg" alt="Rohans Hello" />
		</p>
		<p>
			<img src="https://cataas.com/cat/cute" alt="New Cat Gif"><br>
			<a href="./">Reload to get a new gif</a>
		</p>
		<p>
			<table class="table-class">
				<tr>
					<th>Cat Names</th>
				</tr>
				{{range $cat := .Cats }}
				<tr>
					<td>{{ $cat.Name }}</td>
				</tr>
				{{end}}
			</table>
		</p>

		

	</div>
</body>

</html>